.main {
  height: 100vh;
  background-color: rgba(43, 95, 98, 0.99);
}

.container {
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 10rem;
}

.title {
  color: #e1f4f3;
  font-size: 3.5em;
  margin: 2rem 0;
  font-family: "Cairo", sans-serif;
}

.btn {
    margin: 1rem 0;
    padding: 1rem 4rem;
    border: none;
    border-radius: 1rem;
    color: #2A5F64;
    background-color: rgba(224, 244, 243, 0.75);
    font-family: 'Cairo', sans-serif;
    outline: none;
}

.btn:hover {
    color: rgb(224, 244, 243);
    background-color: rgb(110, 176, 182);
}

.btn:active {
    color: #2A5F64;
    background-color: rgba(224, 244, 243, 0.75);
}
