.main-main {
  background-image: url("../../apps/assets/images/map.png");
}

.main {
  height: 100vh;
  background: rgba(44, 150, 154,0.93);
  background: linear-gradient(
    180deg,
    rgba(44, 150, 154, 0.93) 0%,
    rgba(30, 102, 137, 0.93) 100%
  );
}

.container {
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

.logo {
  height: 18rem;
}

.title {
  color: #e1f4f3;
  font-size: 3.5em;
  margin: 2rem 0;
  font-family: "Cairo", sans-serif;
}

.btn {
  margin: 4rem 0 0 0;
  padding: 1rem 4rem;
  border: none;
  border-radius: 1rem;
  color: #2a5f64;
  background-color: rgb(224, 244, 243);
  font-family: "Cairo", sans-serif;
  font-size: 2rem;
  outline: none;
}

.btn:hover {
  color: rgb(224, 244, 243);
  background-color: rgb(14, 58, 80);
}

.btn:active {
  color: #2a5f64;
  background-color: rgba(224, 244, 243, 0.75);
}
