.loader {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.map-container {
  height: 50%;
  width: 100%;
  z-index: -1;
}

.navbar {
}

.suggestion-container {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  margin: 5.5rem 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 20;
  z-index: 1030;
}

.main-suggestion {
    display: flex;
    flex-direction: column;
}

div {
}

.another-suggestion {
    display: flex;
    border: 1px solid red;
    width: 100vw;
    height: 85vh;
    justify-content: center;
    align-items: flex-end;
}

.another-suggestion-btn {
    position:fixed;
    margin:  0;
    padding: 1rem 4rem;
    border: none;
    border-radius: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(55, 134, 153);
    font-family: "Cairo", sans-serif;
    font-size: 2rem;
    outline: none;
    z-index: 1000000;
  }
  
  .another-suggestion-btn:hover {
    color: rgb(224, 244, 243);
    background-color: rgb(14, 58, 80);
  }
  
  .another-suggestion-btn:active {
    color: #2a5f64;
    background-color: rgba(224, 244, 243, 0.75);
  }
  