.flex-container {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.name {
  margin: 1rem 0 1rem 0;
  color: rgb(30, 102, 137);
}

.rest-name {
  font-size: 2.5rem;
  font-family: "Work Sans", sans-serif;
}

.rest-details {
  display: flex;
  justify-content: center;
}

.category, .rating {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(83, 83, 83);
}

.category {
  margin: 0 2rem;
}

.ten {
  margin: 0.7rem 2rem 0 0;
  font-weight: 100;
  font-size: 1.3rem;
}